Repository imagogitter/adk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @data-team, @frontend-team, @devops-team, @ml-team, @research-team, @tech-writers

.github/CODEOWNERS:

# Global owners - review required for all changes
* @project-maintainers

# Data pipeline
/data-pipeline/ @data-team

# Web UI
/web-ui/ @frontend-team

# Infrastructure
/docker/ @devops-team
.github/workflows/ @devops-team

# Core services
/adk-agent-dev/ @ml-team
/adk-live-agent/ @ml-team
/feature-eng/ @data-team
/backtester/ @research-team

# Documentation
/docs/ @tech-writers @project-maintainers

Initial commit
  LICENSE
Owners: @project-maintainers

fix: code quality issues
  .coverage
  .coveragerc
  .flake8
  .github/workflows/deploy.yml
  .gitignore
  Project File Tree.txt
  README.markdown
  TODO.markdown
  TODO.md
  conftest.py
  coverage.xml
  data-pipeline/Dockerfile
  data-pipeline/README.md
  data-pipeline/SCHEMA.md
  data-pipeline/data_pipeline.py
  data-pipeline/docker-compose.yml
  data-pipeline/requirements.txt
  data-pipeline/src/ 
  data-pipeline/src/__init__.py
  data-pipeline/src/data_pipeline.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docker/base/Dockerfile
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docs/code_style_guide.md
  docs/influxdb-setup.md
  f76447be-b05d-4fff-accb-af1c68ef0bc1.txt
  influx.py
  mypy.ini
  proj.md
  pyproject.toml
  scripts/validate_python.py
  setup-linters.sh
  setup.sh
  tests/test_influx_main.py
  tests/test_influx_utils.py
  tests/test_influxdb.py
Owners: @project-maintainers, @devops-team, @data-team, @tech-writers

rollin
  adk-agent-dev/docker-compose.yml
Owners: @ml-team

refactor(feature-eng): fix type annotations and docstrings
  .pre-commit-config.yaml
  TODO.md
  adk-agent-dev/.env.example
  adk-agent-dev/Dockerfile
  adk-agent-dev/README.md
  adk-agent-dev/agent.py
  adk-agent-dev/docker-compose.yml
  adk-agent-dev/requirements.txt
  adk-agent-dev/tests/__init__.py
  adk-agent-dev/tests/test_agent.py
  adk-agent-dev/tests/test_ccxt_info_tool.py
  adk-agent-dev/tests/test_database_tool.py
  adk-agent-dev/tools/__init__.py
  adk-agent-dev/tools/ccxt_info_tool.py
  adk-agent-dev/tools/database_tool.py
  data-pipeline/docker-compose.yml
  data-pipeline/logger.py
  data-pipeline/scheduled_pipeline.py
  data-pipeline/test_data_pipeline.py
  feature-eng/Dockerfile
  feature-eng/docker-compose.yml
  feature-eng/feature_engineering.py
  feature-eng/requirements.txt
  feature-eng/test_feature_engineering.py
Owners: @project-maintainers, @ml-team, @data-team

fix: update requirements and add module docstrings
  adk-agent-dev/requirements.txt
  data-pipeline/logger.py
  data-pipeline/scheduled_pipeline.py
  data-pipeline/test_data_pipeline.py
Owners: @ml-team, @data-team

feat: add backtester and web-ui components
  .env.example
  =2.32.2
  adk-agent-dev/.env.example
  adk-agent-dev/Dockerfile
  adk-agent-dev/README.md
  adk-agent-dev/agent.py
  adk-agent-dev/tests/__init__.py
  adk-agent-dev/tests/test_agent.py
  adk-agent-dev/tests/test_ccxt_info_tool.py
  adk-agent-dev/tests/test_database_tool.py
  adk-agent-dev/tools/__init__.py
  adk-agent-dev/tools/database_tool.py
  backtester/.env.example
  backtester/Dockerfile
  backtester/adk_strategy.py
  backtester/influx_feed.py
  backtester/optimize_strategy.py
  backtester/requirements.txt
  backtester/run_backtest.py
  backtester/tools/__init__.py
  backtester/tools/ccxt_info_tool.py
  backtester/tools/database_tool.py
  docker-compose.yaml
  feature-eng/Dockerfile
  feature-eng/docker-compose.yml
  feature-eng/requirements.txt
  reports/backtest_results.csv
  utils/config.py
  utils/logger.py
  web-ui/Dockerfile
  web-ui/app.py
  web-ui/requirements.txt
Owners: @project-maintainers, @ml-team, @research-team, @data-team, @frontend-team

chore: remove accidental version file
  =2.32.2
Owners: @project-maintainers

refactor: update component configurations
  backtester/.env.example
  backtester/Dockerfile
  backtester/adk_strategy.py
  backtester/influx_feed.py
  backtester/optimize_strategy.py
  backtester/run_backtest.py
  backtester/tools/__init__.py
  backtester/tools/ccxt_info_tool.py
  backtester/tools/database_tool.py
  utils/config.py
  utils/logger.py
  web-ui/Dockerfile
  web-ui/app.py
  web-ui/requirements.txt
Owners: @research-team, @project-maintainers, @frontend-team

feat: add live trading agent component
  adk-live-agent/.env.example
  adk-live-agent/.pre-commit-config.yaml
  adk-live-agent/Dockerfile
  adk-live-agent/docker-compose.yml
  adk-live-agent/entrypoint.sh
  adk-live-agent/fix_quotes.py
  adk-live-agent/grafana/dashboards/trading_dashboard.json
  adk-live-agent/grafana/provisioning/dashboards/trading.yml
  adk-live-agent/grafana/provisioning/datasources/prometheus.yml
  adk-live-agent/live_agent.py
  adk-live-agent/main.py
  adk-live-agent/monitoring.py
  adk-live-agent/prometheus.yml
  adk-live-agent/recovery.py
  adk-live-agent/requirements.txt
  adk-live-agent/risk_management.py
  adk-live-agent/setup.cfg
Owners: @ml-team
